@model List<JobPosting>
@{
    ViewData["Title"] = "Deine Inserate";
}

<a class="btn btn-primary" asp-controller="JobPosting" asp-action="CreateEditJobPosting">Neues Inserat anlegen</a>

<table id="jobPostingTable" class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Job Title</th>
            <th>Ort</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(JobPosting jobPosting in Model)
            {
                                <tr>
                                    <td>@jobPosting.Id</td>
                                    <td>@jobPosting.CompanyName</td>
                                    <td>@jobPosting.JobTitle</td>
                                    <td>@jobPosting.JobLocation</td>
                                    <td>
                                        <a asp-route-id="@jobPosting.Id" asp-controller="JobPosting" asp-action="CreateEditJobPosting" class="btn btn-warning">Bearbeiten</a>
                        <button onclick="onClickedDeleteButton(@jobPosting.Id)" class="btn btn-danger">Löschen</button>
                                    </td>
                                </tr>
            }
        }
    </tbody>
</table>
@* Table Initialisieren für DataTables *@
@section Scripts {
    <script>
        let table = new DataTable('#myTable');

        function onClickedDeleteButton(id) {
            Swal.fire({
                title: "Möchtest du das Inserat wirklich löschen?",
                icon: "error",
                showCloseButton: true,
                focusConfirm: false,
                confirmButtonText: `Ja, löschen!`,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DeleteJobPostingById")",
                        data: { id: id },
                        success: function (msg) {
                            Swal.fire('Wurde gelöscht!', '', 'success').then((result) => {
                                if (result.isConfirmed) {
                                    location.reload();
                                }
                            });
                        },
                        error: function (msg) {
                            Swal.fire('Ups, etwas ist schief gelaufen!', '', 'error');
                        }
                    })

                }
            });
        }
    </script>
}